.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navList {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

/* Main Container */

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer > div:first-child {
  font-size: 1.8rem;
}

.landingMainContainer > div:first-child div[role="button"] {
  background: #8a5aa9;
  width: fit-content;
  padding: 0.6rem 1rem 1rem 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer > div:first-child div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.landingMainContainer > div:last-child img {
  height: 70vh;
  width: auto;
}
